<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/list.css" />

    <title>New Todo-App</title>
  </head>
  <body>
    <%- include('nav.html') %>

    <div class="task-list-container">
      <ul class="task-list">
        <% for (var i = 0; i < posts.length; i ++) { %>
        <li class="task-list-item">
          <div>
            <h4>Todo List: <%= posts[i].taskName %></h4>
            <p>Task due: <%= posts[i].taskDue %></p>
          </div>

          <div>
            <button class="edit-btn" data-id="<%= posts[i]._id %>">Edit</button>
            <button class="delete-btn" data-id="<%= posts[i]._id %>">
              Delete
            </button>
          </div>
        </li>

        <li class="task-list-edit">
          <div class="edit-container">
            <form class="edit-form">
              <div class="task-input-field">
                <label for="task">Task</label>
                <input
                  value="<%= posts[i].taskName %>"
                  type="text"
                  placeholder=""
                  name="taskName"
                  id="task"
                  autocomplete="off"
                  required
                />
              </div>

              <div class="task-input-field">
                <label for="due">Due Date</label>
                <input
                  value="<%= posts[i].taskDue %>"
                  type="date"
                  placeholder=""
                  name="taskDue"
                  id="due"
                  autocomplete="off"
                  required
                />
              </div>

              <button class="save-btn" data-id="<%= posts[i]._id %>">
                Save
              </button>
            </form>
          </div>
        </li>

        <% } %>
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

    <script>
      $('.delete-btn').click(function (e) {
        e.preventDefault();

        if (confirm('Are you sure you want to delete this item?')) {
          let targetID = e.target.dataset.id;
          let target = this.closest('.task-list-item');

          $.ajax({
            method: 'DELETE',
            url: '/delete',
            data: { _id: targetID },
          })
            .done(function (res) {
              console.log('Entry deleted from the database');
              target.classList.add('fadeout');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
              console.log('Update failed: ' + errorThrown);
            });
        }
      });

      // -----------------------------------------

      $('.edit-btn').click(function (e) {
        let target = e.target.closest('.task-list-item').nextElementSibling;

        if (target.classList.contains('show')) {
          target.classList.remove('show');
        } else target.classList.add('show');
      });

      // -----------------------------------------

      $('.save-btn').click(function (e) {
        e.preventDefault();

        // Get the values from the form fields
        let targetID = e.target.dataset.id;
        let taskName = this.closest('.edit-form').querySelector(
          'input[name=taskName]'
        ).value;
        let taskDue = this.closest('.edit-form').querySelector(
          'input[name=taskDue]'
        ).value;

        // Make an AJAX request to update the document with the given id
        $.ajax({
          url: '/update',
          method: 'PUT',
          data: {
            _id: targetID,
            taskName: taskName,
            taskDue: taskDue,
          },
        })
          .done(function (res) {
            console.log('Update successful');
            window.location.href = '/views';
          })
          .fail(function (jqXHR, textStatus, errorThrown) {
            console.log('Update failed: ' + errorThrown);
          });
      });
    </script>
  </body>
</html>
